<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Anke's kleine Bildergalerie</a>
  <button (click)="onShow()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent" [ngClass]="{'show' : onShowOk}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/']">Galerie <span class="sr-only">(current)</span></a>
      </li>


    </ul>
    <ul *ngIf="onLoginOk" class="navbar-nav ">
      <li  class="nav-item">
        <a class="nav-link" href="#">Galerie bearbeiten <span class="sr-only">(current)</span></a>

      </li>
      <li  class="nav-item">
        <a class="nav-link" [routerLink]="['/upload']">Bild hochladen <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <button (click)="onClick()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
<br>
<br>
<br>

